<div class="skill-field-container">
  {{multi-select
    class="composer-pathway-field"
    content=pathways
    nameProperty="name"
    valueProperty="name"
    value=model.pathway
    onChange=(action "updatePathwayTags")
    options=(hash none="stemaway_tiered_tagging.pathways.none")
  }}
  <div class="desc">
    {{i18n "stemaway_tiered_tagging.pathways.label"}}
  </div>
</div>

<div class="skill-field-container">
  {{multi-select
    class="composer-skill-field"
    content=skills
    valueProperty="name"
    nameProperty="name"
    value=model.skill
    onChange=(action "updateSkillTags")
    options=(hash none="stemaway_tiered_tagging.skills.none")
  }}
  <div class="desc">
    {{i18n "stemaway_tiered_tagging.skills.label"}}
  </div>
</div>

<div class="skill-field-container">
  {{multi-select
    class="composer-sub-skill-field"
    content=subSkills
    valueProperty="name"
    nameProperty="name"
    value=model.subSkill
    onChange=(action "updateSubSkillTags")
    options=(hash none="stemaway_tiered_tagging.sub_skills.none")
  }}
  <div class="desc">{{i18n "stemaway_tiered_tagging.sub_skills.label"}}</div>
</div>

<div class="skill-field-container">
  {{multi-select
    class="composer-sub-skill-field"
    content=otherTags
    valueProperty="name"
    nameProperty="name"
    value=model.otherTags
    onChange=(action "updateOtherTags")
    options=(hash none="stemaway_tiered_tagging.other_tags.none")
  }}
  <div class="desc">{{i18n "stemaway_tiered_tagging.other_tags.label"}}</div>
</div>